.search-input{

    width:280px;

    padding:12px 16px;

    border:1px solid #D8DEE8;

    border-radius:10px;

    font-size:.95rem;

    outline:none;

    transition:.2s;

}

.search-input:focus{

    border-color:#7ABF2A;

}